{% extends 'base.html' %} 
{% block lsbtn %}
<a href="/accounts/login" class="btn rounded-pill btn-outline-info mx-1">Login</a>
<a href="/accounts/signup" class="btn rounded-pill btn-outline-info mx-1">Sign Up</a>
{% endblock lsbtn %}
{% block homeactive %}active{% endblock homeactive %}
{% block bgimg %}
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
{% endblock bgimg %}

{% block title %}ShopTing | Home{% endblock title %}

{% block content %}
<div class="container-fluid px-0 mx-0">
  <div id="carouselExampleCaptions" class="carousel slide px-0 mx-0" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1635405076647-80cfa0f2effe?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFwdG9wLHNob3Bpbmd8fHx8fHwxNjY1NjU2MjA5&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600"
          class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Get gadgets!</h5>
          <p>Get gadgets with card offers.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1647221598398-934ed5cb0e4f?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8b25saW5lLHNob3Bpbmd8fHx8fHwxNjY1NjU1NzYx&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600"
          class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Get Gift Packed!</h5>
          <p>Get gift packed for special person 💜</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1531554694128-c4c6665f59c2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8cGhvbmUsYXBwbGV8fHx8fHwxNjY4NTIzNTc2&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600"
          class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Sponser with benifits!</h5>
          <p class="text-danger h6">Get a super discount with oru patners</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">



    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a style="text-decoration: none;" href="products/laptop/">
            <div class="card cdimg">
              <div class="card-img">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8cGhvbmUsYXBwbGV8fHx8fHwxNjY4NTIzODI2&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=400" alt="Error in pic">
              </div>
              <div class="card-body bg-info">
                  <p class="heading text-center h4">
                      <center><p class="h4 text-dark">Laptops</p></center>
                  </p>
                  <div class="bb">
                  <button class="btn btn-dark">View Product</button>
                  </div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a style="text-decoration: none;" href="products/mobile/">
            <div class="card cdimg">
              <div class="card-img">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1592859849982-5ccedab34269?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8bW9iaWxlfHx8fHx8MTY2ODUyNDkwOQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=400" alt="Error in pic">
              </div>
              <div class="card-body bg-warning">
                  <p class="heading text-center h4">
                      <center><p class="h4 text-dark">Mobiles</p></center>
                  </p>
                  <div class="bb">
                  <button class="btn btn-dark">View Product</button>
                  </div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a style="text-decoration: none;" href="products/watch/">
            <div class="card cdimg">
              <div class="card-img">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1602248145578-9e5bc50c77b3?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8Z2FkZ2V0fHx8fHx8MTY2ODUyNDU3OQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=400" alt="Error in pic">
              </div>
              <div class="card-body bg-primary">
                  <p class="heading text-center h4">
                      <center><p class="h4 text-dark">Watches</p></center>
                  </p>
                  <div class="bb">
                  <button class="btn btn-dark">View Product</button>
                  </div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a style="text-decoration: none;" href="products/all/">
            <div class="card cdimg">
              <div class="card-img">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1515940279136-2f419eea8051?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8Z2FkZ2V0fHx8fHx8MTY2ODUyNDU4NQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=400" alt="Error in pic">
              </div>
              <div class="card-body bg-danger">
                  <p class="heading text-center h4">
                      <center><p class="h4 text-dark">Accessories</p></center>
                  </p>
                  <div class="bb">
                  <button class="btn btn-dark">View Product</button>
                  </div>
              </div>
          </div>
          </a>
        </div>
      </div>
    </div>





    {% comment %} {% for product in products %}
    <div class="col-md-4 mt-4 mb-4">
      <div class="card prod-shad border-info shad">
        <div class="card-body">
          <img class="img-fluid" src="{{product.imageURL}}" />
        </div>
        <div class="card-body">
          <p class="h3">{{product.name}}</p>
          <hr />
          <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-warning add-btn update-cart">
            Add to Cart
          </button>

          <a class="btn btn-outline-danger" href="/product/prodetail/{{product.detail}}">View</a>

          <h4 style="display: inline-block; float: right">
            <strong>Rs.{{product.price}}</strong>
          </h4>
        </div>
      </div>
    </div>
    {% endfor %} {% endcomment %}
  </div>
</div>

{% endblock content %}