{% extends 'base.html' %}
{% block title %}ShopTing | ERROR{% endblock title %}
{% block lsbtn %}
<a href="/accounts/login" class="btn rounded-pill btn-outline-info mx-1">Login</a>
<a href="/accounts/signup" class="btn rounded-pill btn-outline-info mx-1">Sign Up</a>
{% endblock lsbtn %}
{% block bgimg %}
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
{% endblock bgimg %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div style="background-color: rgba(255, 255, 255, 0.500);" class="card ls-shad border-danger mt-5">
                <div class="card-body">
                    <center><h3 class="h3">{{err}}</h3></center>
                </div>
                <div class="card-body">
                    <center><a href="/accounts/login" class="btn rounded-pill btn-outline-success btn-lg mb-2">Try Again</a></center>
                    <center><a href="/accounts/signup" class="btn rounded-pill btn-outline-success btn-lg mb-2">Create New Account</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>
</div>

{% endblock content %}
